body{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* fonts */
@font-face {
    font-family: MR;
    src: url('./_fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: MM;
    src: url('./_fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: MB;
    src: url('./_fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: MSB;
    src: url('./_fonts/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: ML;
    src: url('./_fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: MXL;
    src: url('./_fonts/Montserrat-ExtraLight.ttf');
}
*{
    font-family: MM;
}
.MR{
    font-family: MR;
}
.MM{
    font-family: MM;
}
.MB{
    font-family: MB;
}
.MSB{
    font-family: MSB;
}
.ML{
    font-family: ML;
}
.MXL{
    font-family: MXL;
}
footer{
    width: 100%;
    height: 100px;
    background: yellow;
}
header{
    width: 100%;
    height: 100px;
    /* background: purple; */
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
}
main{
    width: 70%;
    min-height: 80vh;
    background: green;
}
.header__nav{
    display: flex;
    gap: 30px;
}

