body{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* fonts */
@font-face {
    font-family: MR;
    src: url('./_fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: MM;
    src: url('./_fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: MB;
    src: url('./_fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: MSB;
    src: url('./_fonts/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: ML;
    src: url('./_fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: MXL;
    src: url('./_fonts/Montserrat-ExtraLight.ttf');
}
*{
    font-family: MR;
}
h1{
    margin: 0;
}
.MR{
    font-family: MR;
}
.MM{
    font-family: MM;
}
.MB{
    font-family: MB;
}
.MSB{
    font-family: MSB;
}
.ML{
    font-family: ML;
}
.MXL{
    font-family: MXL;
}
footer{
    width: 100%;
    height: 100px;
    border-top: #F08A10 solid 2px;
    margin-top: 100px;
}
.TESTDIV{
    width: 100%;
    height: 500px;
}
header{
    width: 100%;
    position: sticky;
    background: white;
    top: -1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
    /* border-bottom: rgba(0, 0, 0, 0.228) solid 1px; */
    padding-top: 20px;
    padding-bottom: 17px;
    gap: 25px;
    overflow: hidden;
}
main{
    width: 70%;
    min-height: 80vh;
    margin-top: 30px;
    /* background:white; */
}
button{
    cursor: pointer;
}
nav a{
    color: rgba(0, 0, 0, 0.615);
    text-decoration: none;
    font-family: MM;
    font-size: 20px;
    transition: all 0.3s;
    cursor: pointer;
}
nav a:hover{
    color: #F08A10;
}
.header__shadow{
    transition: all 0.3s;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.075);
}
.active__nav__item{
    color: #F08A10;
}
::-webkit-scrollbar {
    width: 10px;
    background: none;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background: #faaa47;
    border-radius: 10px;
    right: 2px;
}
.header__container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__nav__actions{
    display: flex;
    width: 30%;
    /* border: #dd1010 1px solid; */
}
.cart__btn{
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    transition: all 0.3s;
}
.cart__btn span{
    margin-left: 7px;
}
.cart__btn:hover{
    color: #F08A10;
}
.cart__btn:hover svg path{
    stroke: #dd8110;
}
.header__nav{
    display: flex;
    gap: 30px;
    position: sticky;
    width: 50%;
    /* border: #dd1010 1px solid; */
}
.logo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
}
.btn__default{
    background: #F08A10;
    border: none;
    border-radius: 3px;
    padding: 10px 23px;
    color: white;
    font-size: 16px;
    transition: all 0.3s;
}
.btn__default:hover{
    background: #dd8110;
}
.headlogo{
    position: absolute;
    left: -100px;
    top: 35px;
    transition: all 0.2s;
    cursor: pointer;
}
.headlogo__active{
    left: 60px;

}
.modal-enter {
    opacity: 0;
    /* transform: scale(0.9); */
}
.modal-enter-active {
    opacity: 1;
    /* transform: translateX(0); */
    transition: opacity 300ms, transform 300ms;
}
.modal-exit {
    opacity: 1;
}
.modal-exit-active {
    opacity: 0;
    /* transform: scale(0.9); */
    transition: opacity 300ms, transform 300ms;
}
.mdl__window__default{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.445);
    z-index: 20;
}